:host {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid purple;
}

h1 {
  flex: 1;
}

nav {
  display: flex;
}

a {
  border: 1px solid gray;
  padding:  3px 8px;
  margin: 3px;

  text-decoration: none;
  text-transform:  uppercase;
}

a.active {
  border-color: red;
}